body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "PingFangSC-Regular","Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: 14px;
  color:#404040;
  background-color:#f3f3f3;
}
a {
  text-decoration: none;
}

html {
  height: 100%;
  box-sizing: border-box;
}

* {
  font-family: STHeitiSC-Medium;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ol, ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  padding: 10px 0;
  font-weight: bold;
}
p{
  line-height: 21px;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.el-table {
  th{
    font-size: 14px;
    background-color: #E5E6E7;
    .cell{
      color: #30404F;
    }
  }
}